# Spring profile (h2 for in-memory DB, default for MySQL)
SPRING_PROFILES_ACTIVE=h2

# MySQL Data Source (used with default profile)
DB_URL=jdbc:mysql://localhost:3307/IRONOC_DB?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=mypassword

# Google Cloud Secret Manager (used with h2 profile)
GCP_SECRET_VERSION=projects/902038140834/secrets/MY_SQL_PASSWORD/versions/latest
