services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
#    depends_on:
#      db:
#        condition: service_healthy
#  db:
#    image: mysql:8.3.0
##    restart: always
#    environment:
#      MYSQL_ROOT_PASSWORD: mypassword
##    volumes:
##      - ./data/db:/var/lib/mysql
#    ports:
#      - "3307:3306"
#    healthcheck:
#      test: "cat /var/log/mysql/general-log.log | grep \"ready for connections\""
#      interval: 1s
#      retries: 120
