<div class="card mb-4 shadow-sm">
    <div class="card-body">
        <h3 class="card-title mb-4">Add New Employee</h3>
        <form action="#" th:action="@{/add}" th:object="${person}" method="post">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="title">Title</label>
                    <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Enter Title...">
                    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger small"></span>
                </div>
                <div class="form-group col-md-3">
                    <label for="firstName">First Name</label>
                    <input type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="Enter First Name...">
                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger small"></span>
                </div>
                <div class="form-group col-md-3">
                    <label for="surname">Surname</label>
                    <input type="text" th:field="*{surname}" class="form-control" id="surname" placeholder="Enter Surname...">
                    <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="text-danger small"></span>
                </div>
                <div class="form-group col-md-3">
                    <label for="age">Age</label>
                    <input type="number" th:field="*{age}" class="form-control" id="age" placeholder="Enter Age...">
                    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="text-danger small"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add Employee</button>
        </form>
    </div>
</div>
