<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>iRonoc DB | Update Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
<header th:replace="~{navbar.html}"></header>
<main class="container py-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="mb-4">Edit Employee</h3>
            <form action="#" th:action="@{/update/{id}(id=${person.id})}" th:object="${person}" method="post">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="title">Title</label>
                        <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Enter Title...">
                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger small"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="firstName">First Name</label>
                        <input type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="Enter First Name...">
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger small"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="surname">Surname</label>
                        <input type="text" th:field="*{surname}" class="form-control" id="surname" placeholder="Enter Surname...">
                        <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="text-danger small"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="age">Age</label>
                        <input type="number" th:field="*{age}" class="form-control" id="age" placeholder="Enter Age...">
                        <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="text-danger small"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Update Employee</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>
