<div th:switch="${personsList}" class="card shadow-sm mb-4">
    <div class="card-body">
        <h5 class="card-title mb-3">View up to ten items</h5>
        <div th:case="*">
            <h3>Employees</h3>
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>First Name</th>
                        <th>Surname</th>
                        <th>Age</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Job History</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="person : ${personsList}">
                        <td th:text="${person.id}"></td>
                        <td th:text="${person.title}"></td>
                        <td th:text="${person.firstName}"></td>
                        <td th:text="${person.surname}"></td>
                        <td th:text="${person.age}"></td>
                        <td>
                            <a th:href="@{/edit/{id}(id=${person.id})}" class="btn btn-primary btn-sm rounded-0" title="Edit">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <form action="#" th:action="@{/delete/{id}(id=${person.id})}" th:method="delete" class="d-inline">
                                <input type="hidden" name="_method" value="delete" />
                                <button type="submit" class="btn btn-danger btn-sm rounded-0" title="Delete">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                        </td>
                        <td>
                            <table class="table table-sm mb-0">
                                <thead>
                                <tr>
                                    <th>Job Title</th>
                                    <th>Employer Name</th>
                                    <th>Start Year</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="employer : ${person.employers}">
                                    <td th:text="${employer.title}"></td>
                                    <td th:text="${employer.employerName}"></td>
                                    <td th:text="${employer.startYear}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td colspan="4">
                            <b th:text="${#aggregates.avg(personsList.![age])}"></b> is the Average Employee Age
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"></td>
                        <td colspan="2">
                            <b th:text="${#aggregates.sum(personsList.![age])}"></b> is the Sum of Ages
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
