<nav class="navbar navbar-custom navbar-expand border border-dark">
    <div class="container" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mr-auto" href="/"><img src="/img/robot-logo.png" id="logo" /></a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/h2-console" target="_blank">DB-Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/conorheffron/ironoc-db" target="_blank">Github</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
